langgraph
langsmith
langchain-community
langchain-core
langchain-openai
pinecone
tqdm
streamlit
python-dotenv
langchain
langchain_google_genai
langchain
torch
transformers
sentence-transformers
accelerate
